*{
	margin: 0;
	padding: 0;
}
body{
	background-image: url(a5.jpg);
	background-repeat: no-repeat;
	background-attachment: fixed;	
	background-size: cover;
}
header{
	margin: 10px 250px;
	padding: 10px;
	background-color: #fff;
	box-shadow: 0 5px 7px rgba(0,0,0,0.5);
	border-radius: 4px;
	box-sizing: border-box;
}
a.logo{
	float: left;
	text-decoration: none;
	font-size: 30px;
	line-height: 40px;
	height: 40px;
	color: #a9a9a9;
	text-transform: uppercase;
	font-weight: 700;
	margin: 0;
	padding: 0 20px;
}
a.logo:hover{
	color: #000;
}
nav{
	position: relative;
	float: right;
	height: 40px;
	line-height: 40px;
}
nav ul li.active{
	background-color: #a9a9a9;
}
nav ul li.active a{
	color: #fff;
}
nav ul{
	padding: 0;
	margin: 0;
	display: flex;
}
nav ul li{
	list-style: none;
	transition: 0.3s;
}
nav ul li ul.drop-content{
	position: absolute;
	opacity: 0;
	visibility: hidden;
	display: block;
	background: #fff;
	margin-top: 10px;
	min-width: 200px;
	transition:0.3s;
	transform: translate(5px,20px);
	border-radius: 0 0 4px 4px;
	box-shadow: 0 5px 7px rgba(0,0,0,0.5);
}
nav ul li ul.drop-content li{
	border-bottom: 1px solid #a9a9a9;
}
nav ul li ul.drop-content li:nth-child(1){
	border-top: 1px solid #a9a9a9;
}
nav ul li a{
	text-decoration: none !important;
	padding: 20px 30px;
	color: #a9a9a9;
	font-weight: 700;
}
nav ul li:hover{
	background-color: #a9a9a9;
}
nav ul li:hover a{
	color: #fff;
}
.clear{
	clear: both;
}
nav ul li.drop:hover ul.drop-content{
	opacity: 1;
	visibility: visible;
	transform: translateY(0);
}
nav ul li.drop:hover ul.drop-content li a{
	color: #a9a9a9;
}
nav ul li.drop:hover ul.drop-content li:hover a{
	color: #fff;
}
.menu-toggle{
	width: 40px;
	height: 40px;
	line-height: 40px;
	background-color: #a9a9a9;
	float: right;
	cursor: pointer;
	text-align: center;
	font-size: 24px;
}
@media (max-width: 992px){
	nav{
		display: none;
	}
	header{
		margin: 0;
		border: 0;
		height: 120px;
		width: 100%;
	}
}
.sec1{
	margin: 20px 250px;
	width: 100%;
	float: left;
}
.box{
	position: relative;
	width: 25%;
	margin: 0;
	padding: 20px;
	height: 450px;
	background-color: rgba(0,0,0,0.3);
	border: 2px solid #fff;
}
.img-box{
	margin: 0;
	width: 100%;
	height: 55%;
	border: 1px solid #a9a9a9;
	border-radius: 5px;
	overflow: hidden;
	cursor: pointer;
	opacity: 0;
	z-index: -1;
	transition: 1s;
	visibility: hidden;
	transform: translateY(-20%);
}
.img-box:hover img{
	transform: scale(1.2);
}
.img-box img{
	width: 100%;
	height: 100%;
	object-fit: cover;
	transition: 0.5s;
}
.text-box{
	width: 100%;
	text-align: center;
	padding: 10px 0;
	opacity: 0;
	z-index: -1;
	transition: 1s;
	visibility: hidden;
	transform: translate3d(-20%,0,0);
}
.text-box p{
	color: #fff;
	font-size: 18px;
}
.button{
	width: 100%;
	color: #fff;
	font-size: 20px;
	font-weight: 700;
	text-align: center;
	border: 2px solid #fff;
	border-radius: 5px;
	padding: 10px 0;
	cursor: pointer;
	margin-top: 10px;
	opacity: 0;
	z-index: -1;
	transition: 1s;
	visibility: hidden;
	transform: translate3d(0,20%,0);
}
.button:hover{
	background-image: linear-gradient(45deg,red,green,yellow);
	color: #000;
}
.box:hover .img-box{
	opacity: 1;
	visibility: visible;
	transform: translateY(0);
	z-index: 1;
}
.box:hover .text-box{
	opacity: 1;
	visibility: visible;
	transform: translate3d(0,0,0);
}
.box:hover .button{
	opacity: 1;
	z-index: 1;
	visibility: visible;
	transform: translate3d(0,0,0);
}
.me{
	position: absolute;
	justify-content: center;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	font-size: 28px;
	color: #fff;
	font-weight: 700;
	display: block;
}
.box:hover{
	background-color: #000;
	border: none;
}
.box:hover .me{
	display: none;
}
.box:before{
	content: '';
	display: none;
	position: 1s;
	position: absolute;
	top: -2px;
	left: -2px;
	right: -2px;
	bottom: -2px;
	z-index: -1;
	background-image: linear-gradient(-90deg,red,orange);
	transform: skew(1.5deg,1.5deg);
}
.box:after{
	content: '';
	display: none;
	position: 1s;
	position: absolute;
	top: -2px;
	left: -2px;
	right: -2px;
	bottom: -2px;
	z-index: -1;
	background-image: linear-gradient(-90deg,green,blue);
	transform: skew(-1.5deg,-1.5deg);
}
.box:hover:before{
	display: block;
}
.box:hover:after{
	display: block;
}




.Box{
	width: 400px;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	position: relative;
}
.box1{
	position: absolute;
	width: 100%;
	top: 0;
	left: 0;
	height: 50px;
}
.box1:after{
	content: '';
	position: absolute;
	width: 83%;
	top: 2px;
	right: 16px;
	height: 100%;
	background: #430766;
	z-index: -1;
	transform-origin: 100% 0%;
	transform: rotate(-17.6deg);
}
.box2:after{
	content: '';
	position: absolute;
	width: 83%;
	top: 2px;
	right: 16px;
	height: 100%;
	background: #AF0707;
	z-index: -1;
	transform-origin: 100% 0%;
	transform: rotate(-17.6deg);
}
.box2{
	position: absolute;
	width: 100%;
	top: 100px;
	left: 0;
	height: 50px;
}
.box3{
	position: absolute;
	width: 100%;
	top: 200px;
	left: 0;
	height: 50px;
}
.box1 .logo{
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	display: flex;
	color: #fff;
	font-weight: 600;
	justify-content: center;
	align-items: center;
	width: 80px;
	border-right: 4px solid #fff;
	border-top-left-radius: 25px;
	background-color: #7711B1;
	border-bottom-left-radius: 25px;
}
.box1 .content{
	position: absolute;
	top: 0;
	display: flex;
	color: #fff;
	font-weight: 600;
	justify-content: center;
	align-items: center;
	right: 0;
	height: 100%;
	width: 320px;
	background-color: #7711B1;
}
.box2 .logo{
	position: absolute;
	top: 0;
	left: 0;
	display: flex;
	color: #fff;
	font-weight: 600;
	justify-content: center;
	align-items: center;
	height: 100%;
	width: 80px;
	border-right: 4px solid #fff;
	border-top-left-radius: 25px;
	background-color: red;
	border-bottom-left-radius: 25px;
}
.box2 .content{
	position: absolute;
	top: 0;
	right: 0;
	display: flex;
	color: #fff;
	font-weight: 600;
	justify-content: center;
	align-items: center;
	height: 100%;
	width: 320px;
	background-color: red;
}
.box3 .logo{
	position: absolute;
	top: 0;
	display: flex;
	color: #fff;
	font-weight: 600;
	justify-content: center;
	align-items: center;
	left: 0;
	height: 100%;
	width: 80px;
	border-right: 4px solid #fff;
	border-top-left-radius: 25px;
	background-color: blue;
	border-bottom-left-radius: 25px;
}
.box3 .content{
	position: absolute;
	top: 0;
	right: 0;
	height: 100%;
	width: 320px;
	display: flex;
	color: #fff;
	font-weight: 600;
	justify-content: center;
	align-items: center;
	background-color: blue;
}